## Setup

In [1]:
import urllib.request
import zipfile
import pandas as pd
from urllib.parse import urlencode
import json
import gzip

### Define Data

In [2]:
DATA_DIR = './data/'
ZIPS_URL = 'http://www2.census.gov/geo/docs/maps-data/data/gazetteer/2017_Gazetteer/2017_Gaz_zcta_national.zip'
ZIPS_FP = DATA_DIR + 'zips-2017.zip'
ZHVI_URL = 'http://files.zillowstatic.com/research/public/Zip/Zip_Zhvi_SingleFamilyResidence.csv'
ZHVI_FP = DATA_DIR + 'sfr.csv'

### (Optional) Refresh Data

In [3]:
urllib.request.urlretrieve(ZIPS_URL, ZIPS_FP);

In [4]:
urllib.request.urlretrieve(ZHVI_URL, ZHVI_FP);

## Home Prices

In [5]:
df = pd.read_csv(ZHVI_FP)
counties = ['San Francisco', 'San Mateo', 'San Jose']
df = df[df['CountyName'].isin(counties)]
zips = df['RegionName']

## Schools

In [6]:
df2 = pd.read_csv(ZIPS_FP, sep='\t')
df2 = df2[df2['GEOID'].isin(zips.values)]

In [7]:
base = 'https://www.greatschools.org/search/search.page?'
params = {
    'lat': '37.554298',
    'lon': '-122.496632',
    'zip': '94037',
    'state': 'CA'
}
url = base + urlencode(params)
headers = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:58.0) Gecko/20100101 Firefox/58.0",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "accept-encoding": "gzip,deflate,br",
    "accept-language": "en-US,en;q=0.5",
}

In [8]:
req = urllib.request.Request(url, None, headers)
with urllib.request.urlopen(req) as res:
    html = gzip.decompress(res.read()).decode('utf-8')

In [9]:
raw = html.find('gon.map_points')
start = html.find('[',raw)
end = html.find(']',raw)
data = html[start:end+1]
schools = json.loads(data)
rated = [i for i in schools if i['gsRating'] > 0]

In [10]:
rated

[{'city': 'Pacifica',
  'communityRatingStars': 5,
  'fitScore': 0,
  'gradeRange': 'K-8',
  'gsRating': 9,
  'id': 6884,
  'lat': 37.59849548339844,
  'lng': -122.49832153320312,
  'maxFitScore': 0,
  'name': 'Cabrillo Elementary School',
  'numReviews': 129,
  'okFit': False,
  'on_page': True,
  'preschool': False,
  'profileUrl': '/california/pacifica/6884-Cabrillo-Elementary-School/',
  'reviewUrl': '/california/pacifica/6884-Cabrillo-Elementary-School/#Reviews',
  'schoolType': 'Public district',
  'state': 'ca',
  'street': '601 Crespi Drive',
  'strongFit': False,
  'zillowUrl': 'https://www.zillow.com/CA-94044?cbpartner=Great+Schools&utm_source=GreatSchools&utm_medium=referral&utm_campaign=schoolsearch',
  'zipcode': '94044'},
 {'city': 'Pacifica',
  'communityRatingStars': 5,
  'fitScore': 0,
  'gradeRange': 'K-8',
  'gsRating': 9,
  'id': 6892,
  'lat': 37.61370086669922,
  'lng': -122.4847412109375,
  'maxFitScore': 0,
  'name': 'Vallemar Elementary School',
  'numReviews': 140,
  'okFit': False,
  'on_page': True,
  'preschool': False,
  'profileUrl': '/california/pacifica/6892-Vallemar-Elementary-School/',
  'reviewUrl': '/california/pacifica/6892-Vallemar-Elementary-School/#Reviews',
  'schoolType': 'Public district',
  'state': 'ca',
  'street': '377 Reina Del Mar Avenue',
  'strongFit': False,
  'zillowUrl': 'https://www.zillow.com/CA-94044?cbpartner=Great+Schools&utm_source=GreatSchools&utm_medium=referral&utm_campaign=schoolsearch',
  'zipcode': '94044'},
 {'city': 'Pacifica',
  'communityRatingStars': 3,
  'fitScore': 0,
  'gradeRange': '9-12',
  'gsRating': 7,
  'id': 6882,
  'lat': 37.592369079589844,
  'lng': -122.47595977783203,
  'maxFitScore': 0,
  'name': 'Terra Nova High School',
  'numReviews': 41,
  'okFit': False,
  'on_page': True,
  'preschool': False,
  'profileUrl': '/california/pacifica/6882-Terra-Nova-High-School/',
  'reviewUrl': '/california/pacifica/6882-Terra-Nova-High-School/#Reviews',
  'schoolType': 'Public district',
  'state': 'ca',
  'street': '1450 Terra Nova Boulevard',
  'strongFit': False,
  'zillowUrl': 'https://www.zillow.com/CA-94044?cbpartner=Great+Schools&utm_source=GreatSchools&utm_medium=referral&utm_campaign=schoolsearch',
  'zipcode': '94044'},
 {'city': 'Pacifica',
  'communityRatingStars': 5,
  'fitScore': 0,
  'gradeRange': 'K-5',
  'gsRating': 5,
  'id': 13919,
  'lat': 37.58766555786133,
  'lng': -122.47904205322266,
  'maxFitScore': 0,
  'name': 'Ortega Elementary School',
  'numReviews': 52,
  'okFit': False,
  'on_page': True,
  'preschool': False,
  'profileUrl': '/california/pacifica/13919-Ortega-Elementary-School/',
  'reviewUrl': '/california/pacifica/13919-Ortega-Elementary-School/#Reviews',
  'schoolType': 'Public district',
  'state': 'ca',
  'street': '1283 Terra Nova Boulevard',
  'strongFit': False,
  'zillowUrl': 'https://www.zillow.com/CA-94044?cbpartner=Great+Schools&utm_source=GreatSchools&utm_medium=referral&utm_campaign=schoolsearch',
  'zipcode': '94044'},
 {'city': 'Half Moon Bay',
  'communityRatingStars': 5,
  'fitScore': 0,
  'gradeRange': 'K-5',
  'gsRating': 4,
  'id': 6853,
  'lat': 37.499977111816406,
  'lng': -122.46453094482422,
  'maxFitScore': 0,
  'name': 'El Granada Elementary School',
  'numReviews': 9,
  'okFit': False,
  'on_page': True,
  'preschool': False,
  'profileUrl': '/california/half-moon-bay/6853-El-Granada-Elementary-School/',
  'reviewUrl': '/california/half-moon-bay/6853-El-Granada-Elementary-School/#Reviews',
  'schoolType': 'Public district',
  'state': 'ca',
  'street': '400 Santiago Street',
  'strongFit': False,
  'zillowUrl': 'https://www.zillow.com/CA-94019?cbpartner=Great+Schools&utm_source=GreatSchools&utm_medium=referral&utm_campaign=schoolsearch',
  'zipcode': '94019'},
 {'city': 'Montara',
  'communityRatingStars': 4,
  'fitScore': 0,
  'gradeRange': 'K-5',
  'gsRating': 4,
  'id': 6854,
  'lat': 37.54350662231445,
  'lng': -122.50814056396484,
  'maxFitScore': 0,
  'name': 'Farallone View Elementary School',
  'numReviews': 24,
  'okFit': False,
  'on_page': True,
  'preschool': False,
  'profileUrl': '/california/montara/6854-Farallone-View-Elementary-School/',
  'reviewUrl': '/california/montara/6854-Farallone-View-Elementary-School/#Reviews',
  'schoolType': 'Public district',
  'state': 'ca',
  'street': '250 Laconte And Kanoff',
  'strongFit': False,
  'zillowUrl': 'https://www.zillow.com/CA-94037?cbpartner=Great+Schools&utm_source=GreatSchools&utm_medium=referral&utm_campaign=schoolsearch',
  'zipcode': '94037'}]

In [11]:
# Calculating the average rating for each zipcode
total_rating = 0
num_schools = len(rated)
for school in rated:
    rating = school['gsRating']
    total_rating = total_rating + rating
avg_rating = round(total_rating/num_schools, 2)
print(avg_rating)

6.33

In [12]:
# Grabbing the zipcode
zipcode = rated[0]['zipcode']

In [13]:
# Creating a list of all types of grade ranges
grades = []
grade_range= []
for school in rated:
    grade = school['gradeRange']
    grades.append(grade)
[grade_range.append(item) for item in grades if item not in grade_range]
print(grade_range)

['K-8', '9-12', 'K-5']

In [14]:
# Creating a final table
d = {'zipcode': zipcode, 'avg_rating': avg_rating, 
     'number_of_schools': num_schools, 'grade_ranges': [grade_range]}
schools_df = pd.DataFrame(data =d)
schools_df = schools_df.set_index('zipcode')
schools_df.head()

         avg_rating      grade_ranges  number_of_schools
zipcode
94044          6.33  [K-8, 9-12, K-5]                  6

In [15]:
# Working on iterating through the zipcodes
df2 = df2.drop(["ALAND", "AWATER", "ALAND_SQMI", "AWATER_SQMI"], axis =1)
df2.columns=["zipcode", "lat", "long"]
df2.head()

       zipcode        lat        long
30954    94002  37.514354 -122.298901
30955    94005  37.688826 -122.408935
30956    94010  37.570280 -122.365778
30957    94014  37.690884 -122.447441
30958    94015  37.681312 -122.480634

In [16]:
for index, row in df2.iterrows():
    params = {
    'lat': lat
    'lon': long
    'zip': zipcode
    'state': "'CA"
    }
    print(params)

SyntaxError: invalid syntax (<ipython-input-16-951cba3ade85>, line 4)

In [17]:
for index, row in df2.iterrows():
    print(row)

zipcode    94002.000000
lat           37.514354
long        -122.298901
Name: 30954, dtype: float64
zipcode    94005.000000
lat           37.688826
long        -122.408935
Name: 30955, dtype: float64
zipcode    94010.000000
lat           37.570280
long        -122.365778
Name: 30956, dtype: float64
zipcode    94014.000000
lat           37.690884
long        -122.447441
Name: 30957, dtype: float64
zipcode    94015.000000
lat           37.681312
long        -122.480634
Name: 30958, dtype: float64
zipcode    94019.000000
lat           37.469453
long        -122.411841
Name: 30959, dtype: float64
zipcode    94020.000000
lat           37.274612
long        -122.232420
Name: 30960, dtype: float64
zipcode    94025.000000
lat           37.457524
long        -122.176542
Name: 30964, dtype: float64
zipcode    94027.000000
lat           37.453514
long        -122.204756
Name: 30965, dtype: float64
zipcode    94028.000000
lat           37.376850
long        -122.209761
Name: 30966, dtype: float64
zipcode    94030.000000
lat           37.598970
long        -122.401991
Name: 30967, dtype: float64
zipcode    94037.000000
lat           37.554298
long        -122.496632
Name: 30968, dtype: float64
zipcode    94038.000000
lat           37.526902
long        -122.512164
Name: 30969, dtype: float64
zipcode    94044.000000
lat           37.606598
long        -122.477230
Name: 30973, dtype: float64
zipcode    94061.000000
lat           37.461147
long        -122.236948
Name: 30975, dtype: float64
zipcode    94062.000000
lat           37.413691
long        -122.295343
Name: 30976, dtype: float64
zipcode    94063.000000
lat           37.493296
long        -122.195535
Name: 30977, dtype: float64
zipcode    94065.000000
lat           37.534800
long        -122.245708
Name: 30978, dtype: float64
zipcode    94066.000000
lat           37.625091
long        -122.433598
Name: 30979, dtype: float64
zipcode    94070.000000
lat           37.496466
long        -122.272565
Name: 30980, dtype: float64
zipcode    94080.000000
lat           37.655490
long        -122.422075
Name: 30982, dtype: float64
zipcode    94103.000000
lat           37.773152
long        -122.411164
Name: 30988, dtype: float64
zipcode    94107.000000
lat           37.758260
long        -122.406044
Name: 30991, dtype: float64
zipcode    94109.000000
lat           37.795388
long        -122.422444
Name: 30993, dtype: float64
zipcode    94110.000000
lat           37.750021
long        -122.415201
Name: 30994, dtype: float64
zipcode    94112.000000
lat           37.720367
long        -122.442936
Name: 30996, dtype: float64
zipcode    94114.000000
lat           37.758059
long        -122.435408
Name: 30997, dtype: float64
zipcode    94115.000000
lat           37.785969
long        -122.437253
Name: 30998, dtype: float64
zipcode    94116.000000
lat           37.745399
long        -122.486065
Name: 30999, dtype: float64
zipcode    94117.000000
lat           37.769436
long        -122.447662
Name: 31000, dtype: float64
zipcode    94118.000000
lat           37.780093
long        -122.462605
Name: 31001, dtype: float64
zipcode    94121.000000
lat           37.776769
long        -122.494707
Name: 31002, dtype: float64
zipcode    94122.000000
lat           37.758799
long        -122.485127
Name: 31003, dtype: float64
zipcode    94123.000000
lat           37.800934
long        -122.438366
Name: 31004, dtype: float64
zipcode    94124.000000
lat           37.728895
long        -122.382779
Name: 31005, dtype: float64
zipcode    94127.000000
lat           37.736220
long        -122.459338
Name: 31006, dtype: float64
zipcode    94131.000000
lat           37.745917
long        -122.441473
Name: 31010, dtype: float64
zipcode    94132.000000
lat           37.722214
long        -122.484083
Name: 31011, dtype: float64
zipcode    94133.000000
lat           37.804531
long        -122.410852
Name: 31012, dtype: float64
zipcode    94134.000000
lat           37.721046
long        -122.413555
Name: 31013, dtype: float64
zipcode    94401.000000
lat           37.576948
long        -122.316903
Name: 31020, dtype: float64
zipcode    94402.000000
lat           37.523602
long        -122.344920
Name: 31021, dtype: float64
zipcode    94403.000000
lat           37.538449
long        -122.305447
Name: 31022, dtype: float64
zipcode    94404.000000
lat           37.555999
long        -122.267679
Name: 31023, dtype: float64