## Setup

In [1]:
import urllib.request
import zipfile
import pandas as pd
from urllib.parse import urlencode
import json
import gzip

### Define Data

In [2]:
DATA_DIR = './data/'
ZIPS_URL = 'http://www2.census.gov/geo/docs/maps-data/data/gazetteer/2017_Gazetteer/2017_Gaz_zcta_national.zip'
ZIPS_FP = DATA_DIR + 'zips-2017.zip'
ZHVI_URL = 'http://files.zillowstatic.com/research/public/Zip/Zip_Zhvi_SingleFamilyResidence.csv'
ZHVI_FP = DATA_DIR + 'sfr.csv'

### (Optional) Refresh Data

In [ ]:
urllib.request.urlretrieve(ZIPS_URL, ZIPS_FP);

In [ ]:
urllib.request.urlretrieve(ZHVI_URL, ZHVI_FP);

## Home Prices

In [3]:
df = pd.read_csv(ZHVI_FP)
counties = ['San Francisco', 'San Mateo', 'San Jose']
df = df[df['CountyName'].isin(counties)]
zips = df['RegionName']

## Schools

In [4]:
df2 = pd.read_csv(ZIPS_FP, sep='\t')
df2 = df2[df2['GEOID'].isin(zips.values)]
df2.head()

,GEOID,ALAND,AWATER,ALAND_SQMI,AWATER_SQMI,INTPTLAT,INTPTLONG
30954,94002,14661770,22417,5.661,0.009,37.514354,-122.298901
30955,94005,11384557,447655,4.396,0.173,37.688826,-122.408935
30956,94010,30667758,226705,11.841,0.088,37.570280,-122.365778
30957,94014,16319097,0,6.301,0.000,37.690884,-122.447441
30958,94015,14894690,0,5.751,0.000,37.681312,-122.480634

In [ ]:
base = 'https://www.greatschools.org/search/search.page?'
params = {
    'lat': '37.469453',
    'lon': '-122.411841',
    'zip': '94010',
    'state': 'CA'
}
url = base + urlencode(params)
headers = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:58.0) Gecko/20100101 Firefox/58.0",
    "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "accept-encoding": "gzip,deflate,br",
    "accept-language": "en-US,en;q=0.5",
}

In [ ]:
req = urllib.request.Request(url, None, headers)
with urllib.request.urlopen(req) as res:
    html = gzip.decompress(res.read()).decode('utf-8')

In [ ]:
raw = html.find('gon.map_points')
start = html.find('[',raw)
end = html.find(']',raw)
data = html[start:end+1]
schools = json.loads(data)
rated = [i for i in schools if i['gsRating'] > 0]

In [ ]:
rated

In [ ]:
# Calculating the average rating for each zipcode
total_rating = 0
num_schools = len(rated)
total_schools.append(num_schools)
for school in rated:
    rating = school['gsRating']
    total_rating = total_rating + rating
avg_rating = round(total_rating/num_schools, 2)
print(avg_rating)

# Grabbing the zipcode
zipcode = rated[0]['zipcode']

# Creating a list of all types of grade ranges
grades = []
grade_range= []
for school in rated:
    grade = school['gradeRange']
    grades.append(grade)
[grade_range.append(item) for item in grades if item not in grade_range]
grade_range = [grade_range]
print(grade_range)
# Creating a final table
d = {'zipcode': zipcodes, 'avg_rating': avg_ratings, 
     'number_of_schools': total_schools, 'grade_ranges': [grade_range]}
schools_df = pd.DataFrame(data =d)
schools_df = schools_df.set_index('zipcode')
schools_df.head()

In [5]:
# Cleaning up data
df2 = df2.drop(["ALAND", "AWATER", "ALAND_SQMI", "AWATER_SQMI"], axis =1)
df2.columns=["zipcode", "lat", "long"]
df2 = df2[df2.zipcode != 94020]
df2.head()

       zipcode        lat        long
30954    94002  37.514354 -122.298901
30955    94005  37.688826 -122.408935
30956    94010  37.570280 -122.365778
30957    94014  37.690884 -122.447441
30958    94015  37.681312 -122.480634

In [6]:
df2

       zipcode        lat        long
30954    94002  37.514354 -122.298901
30955    94005  37.688826 -122.408935
30956    94010  37.570280 -122.365778
30957    94014  37.690884 -122.447441
30958    94015  37.681312 -122.480634
30959    94019  37.469453 -122.411841
30964    94025  37.457524 -122.176542
30965    94027  37.453514 -122.204756
30966    94028  37.376850 -122.209761
30967    94030  37.598970 -122.401991
30968    94037  37.554298 -122.496632
30969    94038  37.526902 -122.512164
30973    94044  37.606598 -122.477230
30975    94061  37.461147 -122.236948
30976    94062  37.413691 -122.295343
30977    94063  37.493296 -122.195535
30978    94065  37.534800 -122.245708
30979    94066  37.625091 -122.433598
30980    94070  37.496466 -122.272565
30982    94080  37.655490 -122.422075
30988    94103  37.773152 -122.411164
30991    94107  37.758260 -122.406044
30993    94109  37.795388 -122.422444
30994    94110  37.750021 -122.415201
30996    94112  37.720367 -122.442936
30997    94114  37.758059 -122.435408
30998    94115  37.785969 -122.437253
30999    94116  37.745399 -122.486065
31000    94117  37.769436 -122.447662
31001    94118  37.780093 -122.462605
31002    94121  37.776769 -122.494707
31003    94122  37.758799 -122.485127
31004    94123  37.800934 -122.438366
31005    94124  37.728895 -122.382779
31006    94127  37.736220 -122.459338
31010    94131  37.745917 -122.441473
31011    94132  37.722214 -122.484083
31012    94133  37.804531 -122.410852
31013    94134  37.721046 -122.413555
31020    94401  37.576948 -122.316903
31021    94402  37.523602 -122.344920
31022    94403  37.538449 -122.305447
31023    94404  37.555999 -122.267679

In [7]:
# Creating empty lists to store the data
avg_ratings = []
grade_ranges = []
total_schools = []
zipcodes = []

# Iterate through all the zipcodes & grab data
for index, row in df2.iterrows():
    base = 'https://www.greatschools.org/search/search.page?'
    params = {
    'lat': row['lat'],
    'lon': row['long'],
    'zip': row['zipcode'],
    'state': 'CA'
    }
    url = base + urlencode(params)
    print(url)
    
    headers = {
        "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:58.0) Gecko/20100101 Firefox/58.0",
        "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
        "accept-encoding": "gzip,deflate,br",
        "accept-language": "en-US,en;q=0.5",
    }
    
    req = urllib.request.Request(url, None, headers)
    with urllib.request.urlopen(req) as res:
        html = gzip.decompress(res.read()).decode('utf-8')
    
    raw = html.find('gon.map_points')
    start = html.find('[',raw)
    end = html.find(']',raw)
    data = html[start:end+1]
    schools = json.loads(data)
    rated = [i for i in schools if i['gsRating'] > 0]
    
    # Grabbing the zipcode
    zipcode = rated[0]['zipcode']
    zipcodes.append(zipcode)
    
    # Calculating the total number of schools & average rating for each zipcode
    total_rating = 0
    num_schools = len(rated)
    total_schools.append(num_schools)
    for school in rated:
        rating = school['gsRating']
        total_rating = total_rating + rating
    avg_rating = round(total_rating/num_schools, 2)
    avg_ratings.append(avg_rating)

    # Creating a list of all types of grade ranges
    grades = []
    grade_range= []
    for school in rated:
        grade = school['gradeRange']
        grades.append(grade)
    [grade_range.append(item) for item in grades if item not in grade_range]
    grade_ranges.append(grade_range)

https://www.greatschools.org/search/search.page?lat=37.514354&lon=-122.298901&zip=94002.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.688826&lon=-122.408935&zip=94005.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.57028&lon=-122.365778&zip=94010.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.690884&lon=-122.447441&zip=94014.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.681312&lon=-122.480634&zip=94015.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.469453&lon=-122.411841&zip=94019.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.457524&lon=-122.176542&zip=94025.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.453514&lon=-122.204756&zip=94027.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.37685&lon=-122.209761&zip=94028.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.59897&lon=-122.401991&zip=94030.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.554298&lon=-122.496632&zip=94037.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.526902&lon=-122.512164&zip=94038.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.606598&lon=-122.47723&zip=94044.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.461147&lon=-122.236948&zip=94061.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.413691&lon=-122.295343&zip=94062.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.493296&lon=-122.195535&zip=94063.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.5348&lon=-122.245708&zip=94065.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.625091&lon=-122.433598&zip=94066.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.496466&lon=-122.272565&zip=94070.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.65549&lon=-122.422075&zip=94080.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.773152&lon=-122.411164&zip=94103.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.75826&lon=-122.406044&zip=94107.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.795388&lon=-122.422444&zip=94109.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.750021&lon=-122.415201&zip=94110.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.720367&lon=-122.442936&zip=94112.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.758059&lon=-122.435408&zip=94114.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.785969&lon=-122.437253&zip=94115.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.745399&lon=-122.486065&zip=94116.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.769436&lon=-122.447662&zip=94117.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.780093&lon=-122.462605&zip=94118.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.776769&lon=-122.494707&zip=94121.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.758799&lon=-122.485127&zip=94122.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.800934&lon=-122.438366&zip=94123.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.728895&lon=-122.382779&zip=94124.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.73622&lon=-122.459338&zip=94127.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.745917&lon=-122.441473&zip=94131.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.722214&lon=-122.484083&zip=94132.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.804531&lon=-122.410852&zip=94133.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.721046&lon=-122.413555&zip=94134.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.576948&lon=-122.316903&zip=94401.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.523602&lon=-122.34492&zip=94402.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.538449&lon=-122.305447&zip=94403.0&state=CA
https://www.greatschools.org/search/search.page?lat=37.555999&lon=-122.267679&zip=94404.0&state=CA

In [8]:
print(zipcodes)

['94062', '94131', '94010', '94131', '94131', '94019', '94301', '94301', '94306', '94010', '94044', '94044', '94030', '94301', '94028', '94301', '94062', '94030', '94062', '94030', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94131', '94010', '94010', '94010', '94010']

In [9]:
# Creating a final table
d = {'zipcode': zipcodes, 'avg_rating': avg_ratings, 
     'number_of_schools': total_schools, 'grade_ranges': grade_ranges}
schools_df = pd.DataFrame(data =d)
schools_df = schools_df.set_index('zipcode')
schools_df

,avg_rating,grade_ranges,number_of_schools
zipcode,,,
94062,6.92,"[3-8, K-5, K-4, 5-8, 9-12, 6-8, 1-5, K-8, K-6,...",49
94131,4.89,"[9-12, K-5, K-8, 6-8, 5-8, K-6, K-7, K-4]",90
94010,6.76,"[9-12, K-5, 6-8, 1-5, K-8, 7-9]",46
94131,5.42,"[9-12, K-5, K-8, 6-8, 5-8, K-6, K-7, K-4]",100
94131,5.78,"[9-12, K-5, K-8, 6-8, K-6, K-7, 5-8, K-4]",78
94019,4.75,"[9-12, 6-8, K-5]",4
94301,6.24,"[9-12, 3-8, K-5, 6-8, 4-8, K-8, K-3, K-4, K-3,...",55
94301,6.02,"[9-12, 3-8, K-5, 4-8, K-4, 5-8, K-8, 6-8, K-3,...",52
94306,8.12,"[K-5, 9-12, 4-8, K-3, K-8, K-6, 6-8]",16
94010,6.95,"[9-12, K-5, 6-8, K-8, 7-9]",43
94044,6.33,"[K-8, 9-12, K-5]",6
94044,5.00,"[9-12, K-5]",4
94030,6.31,"[9-12, K-8, K-5, 6-8, K-6, 7-9, K-7]",42
94301,6.45,"[9-12, 3-8, K-5, 4-8, K-4, 5-8, K-8, K-3, 6-8,...",44
94028,6.56,"[K-3, K-8, 9-12, K-5, 6-8]",9
94301,5.86,"[9-12, 3-8, K-5, 4-8, K-4, 5-8, K-3, 6-8, K-8,...",50
94062,6.53,"[3-8, K-5, K-4, 5-8, 9-12, 6-8, 1-5, K-8, K-6,...",49
94030,6.41,"[9-12, K-5, K-8, 6-8, K-6, 7-9, K-7]",54
94062,6.50,"[3-8, K-5, K-4, 5-8, 9-12, 6-8, K-8, 1-5, K-6,...",52
94030,5.49,"[9-12, K-8, K-5, 6-8, 5-8, K-6, 7-9, K-7, K-4]",75
94131,6.01,"[9-12, K-8, K-5, 6-8, 5-8, 1-5, 9-12 & ungraded]",100
94131,5.94,"[9-12, K-8, K-5, 6-8, 5-8, 1-5, 9-12 & ungraded]",100
94131,5.80,"[9-12, K-8, K-5, 6-8, 1-5, 5-8, 9-12 & ungraded]",83
94131,6.48,"[9-12, K-8, K-5, 6-8, 5-8, 1-5, K-6, 9-12 & un...",100
94131,6.46,"[9-12, K-8, K-5, 6-8, 5-8, K-6, K-7, 9-12 & un...",100
94131,6.40,"[9-12, K-8, K-5, 6-8, 5-8, 1-5, K-6, 9-12 & un...",100
94131,6.01,"[9-12, K-8, K-5, 6-8, 1-5, 5-8, 9-12 & ungraded]",100
94131,6.17,"[9-12, K-8, K-5, 6-8, K-6, 5-8, 9-12 & ungraded]",100
94131,6.34,"[9-12, K-8, K-5, 6-8, 5-8, 1-5, K-6, 9-12 & un...",100
94131,6.03,"[9-12, K-8, K-5, 6-8, 1-5, 5-8, 9-12 & ungraded]",99
94131,6.25,"[9-12, K-8, K-5, 6-8, 1-5, 5-8, 9-12 & ungraded]",84
94131,6.15,"[9-12, K-8, K-5, 6-8, 1-5, K-6, 5-8, 9-12 & un...",100
94131,6.19,"[9-12, K-8, K-5, 6-8, 1-5, 5-8, 9-12 & ungraded]",79
94131,4.91,"[9-12, K-5, K-8, 6-8, 5-8, K-4]",87
94131,6.49,"[9-12, K-8, K-5, 6-8, 5-8, K-6, 9-12 & ungraded]",100
94131,6.58,"[9-12, K-8, K-5, 6-8, 5-8, 1-5, K-6, 9-12 & un...",100
94131,6.21,"[9-12, K-8, K-5, 6-8, 5-8, K-6, K-7, 9-12 & un...",100
94131,5.86,"[9-12, K-8, K-5, 6-8, 1-5, 5-8, 9-12 & ungraded]",66
94131,5.70,"[9-12, K-8, K-5, 6-8, 5-8, K-6, 9-12 & ungraded]",100
94010,7.18,"[9-12, K-5, 6-8, 1-5, K-6, K-8, K-12]",44
94010,7.19,"[9-12, K-5, 6-8, K-4, 5-8, 1-5, K-8, K-6, K-12]",42
94010,7.28,"[9-12, K-5, 6-8, K-4, 5-8, 1-5, K-8, K-6, K-12]",47
94010,7.17,"[9-12, K-5, K-4, 5-8, 6-8, 1-5, K-8, K-6, K-12]",41